<div>
    <div class="colors-tabs">
        <label>
            <input type="radio" value="foreColor" v-model="command">&nbsp;
            {{$parent.locale["fore color"]}}
        </label>
        <label>
            <input type="radio" value="backColor" v-model="command">&nbsp;
            {{$parent.locale["background color"]}}
        </label>
    </div>
    <div class="colors-tab-panels">
        <div class="colors-tab-fore-color" v-if="command=='foreColor'">
            <div v-for="color in foreColors" :style="{'background-color':color}" class="color-card"
                 @click="changeColor(color)">
            </div>
            <div style="clear: both"></div>
        </div>
        <div class="colors-tab-background-color" v-if="command=='backColor'">
            <div v-for="color in backColors" :style="{'background-color':color}" class="color-card"
                 @click="changeColor(color)">
            </div>
            <div style="clear: both"></div>
        </div>

    </div>
</div>
